//-header:
  //this is the pug website code for the index page
doctype html
html
include navbar.pug
  
  //-
    the index page just has the speech hub thing displayed
body
  .jumbotron.text-center
    h1 SPEECH HUB
    p Everything you need for speech, all in one place!
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
